@import url("../../index.css");
@media (max-width:1024px) {
.redirect-container{
 margin-top: 0;
}
 .book-animation {
 display: none;
}
.redirect {
 margin-top: 80px !important;
}
.redirect-prev {
 display: flex !important;

}
}
.book-animation {
margin-bottom: -4rem;
}
.redirect {
 margin-top: 40px;
 min-height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 transform: scale(.8);
 gap: 3rem;
}
.redirect-prev {display: grid;
grid-template-columns: 1fr 1fr;
}
.redirect-container {
 width: min(90%, 600px);
 margin: 0 auto;
 text-align: center;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
gap: 2rem;
}
.redirect__title{
 font-size: 3em;
font-family:var(--accent-font-bold);
}
.redirect__subtitle{
font-size: 1.5em;
margin-top: -1.5rem;
font-family: var(--primary-font-400);
}
.button-container {
 margin-top: 1rem;
display: flex;
gap: 2rem;
font-size: 1.3em;
}

.btn-redirect{
 width: 50%;
 border-radius: 5px;
 background-color: white;
 color: black;
padding: 0.5rem 1.2rem;
display: flex;
align-items: center;
transition: all 0.5s;
}
.button-to-redirect {
 background-color: #6B63B5;
 color: white;
}
.button-to-redirect:hover {
 
 background-color: #443e7f;
}
.button-home:hover {
 color: black;
 background-color:rgb(179, 179, 179) ;
}
.iframe-redirect {
 margin: 40px auto 0 ;

}
