* {
  box-sizing: border-box;
}

.submenu-card {
  position: relative;
  height: 12rem;
  width: 12rem;
}

.card__inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(16, 20, 27, 0), #10141b);
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  flex-grow: 0;
  padding: 2rem;
  gap: 0.5rem;
}

.card__image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
}

.sub-menu__wrapper {
  height: 100vh;
  top: 70px;
  left: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.5s;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.716);
}

.sub-menu__wrapper--opened {
  opacity: 1;
  pointer-events: initial;
}

.sub-menu__inner-wrapper {
  background-image: url("../images/header/sub-menu-background-stars.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  padding: 4rem 0;
  width: 100vw;
  height: fit-content;
  position: relative;
}

.sub-menu__container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.sub-menu__bottom-decoration-container {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sub-menu__bottom-decoration {
  width: 70%;
}

@media (min-width:1024px) {
  .sub-menu__container  {
    height: fit-content;
  }
}

@media (max-width:1024px) {
   .sub-menu__container {
     flex-direction: column;
     align-items: start;
     justify-content: start;
    text-align: start;
   }
  .card__image-container {
    display: none;
  }
  .submenu-card {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .card__inner-wrapper {
    padding: 0;
    justify-content: start;
    align-items: start;
  }
  .sub-menu__inner-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: repeat;
  } 
  .sub-menu__wrapper {
    top: 0;
  }
  .sub-menu__container {
    gap: 4rem;
    margin: 70px auto 0 ;
    justify-content: start;
    align-items: start;
    font-size: 1.8em;
  }
  .sub-menu__title {
    font-size: 0.8em;
    font-weight: 400;
  } 

}